<header>
  <nav  class="navbar navbar-expand-lg navbar-light bg-light">

    <ul class="navbar-nav mr-auto">
      <button class="btn btn-outline-success my-2 my-sm-0 mx-1" type="submit" routerLink="/">Расписание</button>
      <button class="btn btn-outline-success my-2 my-sm-0 mx-1" type="submit" routerLink="/films">Фильмы</button>
      <button class="btn btn-outline-success my-2 my-sm-0 mx-1" *ngIf="userService.isModerator || userService.isAdmin" type="submit" routerLink="/genres">Жанры</button>
      <button class="btn btn-outline-success my-2 my-sm-0 mx-1" *ngIf="userService.isModerator || userService.isAdmin" type="submit" routerLink="/halls">Залы</button>
      <button class="btn btn-outline-success my-2 my-sm-0 mx-1" *ngIf="userService.isModerator || userService.isAdmin" type="submit" routerLink="/schedules">Сеансы</button>
      <button class="btn btn-outline-success my-2 my-sm-0 mx-1" *ngIf="userService.isAdmin" type="submit" routerLink="/admin">Пользователи</button>

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <div *ngIf="userService.user">
          <a class="navbar-text mx-2" routerLink="/user">{{userService.user.username}}</a>
        </div>
        <form class="form-inline my-2 my-lg-0">
          <div *ngIf="invalid">
            <input [(ngModel)]="username" name="username" class="form-control mr-sm-2 is-invalid" *ngIf="!authService.isUserLoggedIn()" type="text" placeholder="логин" aria-label="Search" >
            <input [(ngModel)]="password" name="password" class="form-control mr-sm-2 is-invalid" *ngIf="!authService.isUserLoggedIn()" type="password" placeholder="пароль" aria-label="Search">
          </div>
          <div *ngIf="!invalid">
            <input [(ngModel)]="username" name="username" class="form-control mr-sm-2" *ngIf="!authService.isUserLoggedIn()" type="text" placeholder="логин" aria-label="Search" >
            <input [(ngModel)]="password" name="password" class="form-control mr-sm-2" *ngIf="!authService.isUserLoggedIn()" type="password" placeholder="пароль" aria-label="Search">
          </div>
          <button class="btn btn-outline-success my-2 my-sm-0 mx-1" *ngIf="!authService.isUserLoggedIn()" type="submit" (click)="login()">Войти</button>
          <button class="btn btn-outline-success my-2 my-sm-0 mx-1" *ngIf="!authService.isUserLoggedIn()" type="submit" (click)="register()">Регистрация</button>
          <button class="btn btn-outline-success my-2 my-sm-0 mr-1" *ngIf="authService.isUserLoggedIn()" type="submit" (click)="logout()">Выйти</button>
        </form>
    </ul>


  </nav>

</header>
