<form  style="width: 50%; margin: 0 auto;">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <input type="text" class="form-control is-valid" id="username" [(ngModel)]="username"  name="username" placeholder="логин" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <input type="text" class="form-control is-valid" id="name" [(ngModel)]="name"  name="name" placeholder="имя" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <input  type="text" class="form-control is-valid" [(ngModel)]="password"  name="password" placeholder="пароль" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <input type="text" class="form-control is-valid" id="comfirmPassword" [(ngModel)]="confirmPassword"  name="confirmPassword" placeholder="подтверждение пароля" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <input type="text" class="form-control is-valid" id="email" [(ngModel)]="email"  name="email" placeholder="почта" required>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" (click)="register()">Регистрация</button>
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
  <div *ngIf="confirmReg" class="alert alert-success" role="alert">
    {{confirmReg}}
  </div>
</form>
