<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>
<div *ngIf="confirmMessage" class="alert alert-success" role="alert">
  {{confirmMessage}}
</div>

<div *ngIf="editor">
  <input type="text" placeholder="id" [(ngModel)]="form.id">
  <input type="text" placeholder="Имя" [(ngModel)]="form.name">
  <input type="text" placeholder="Год" [(ngModel)]="form.year">
  <input type="text" placeholder="Длительность" [(ngModel)]="form.length">
  <input type="text" placeholder="Оценка" [(ngModel)]="form.rating">
  <input type="text" placeholder="Картинка" [(ngModel)]="form.picPath">
  <input type="file" (change)="fileSelected($event)"/>
  <button type="button" (click)="upload(form.id)">Картинка</button>
    <div *ngFor="let genre of genreService.genres">
      <div>{{genre.name}}  <input type="checkbox" [checked]="genre.check" (change)="onChangeGenre(genre.id, genre.check)"/></div>
    </div>

    <button (click)="updateForm()">Изменить</button>
    <button (click)="addForm()">Добавить</button>
    <button (click)="breakForm()">Отмена</button>


</div>


<div  class="card-columns">
    <div *ngFor="let value of filmService.films" >
      <div class="card mt-5">
      <app-film-form [value]="value">
      </app-film-form>
        <div *ngIf="userService.isModerator || userService.isAdmin">
          <a class="btn btn-primary m-1" (click)="openEditForm(value.id)">Редактировать</a>
          <a class="btn btn-primary m-1" (click)="delete(value.id)">Удалить</a>
        </div>
      </div>
  </div>
</div>

