<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>
<div *ngIf="confirmMessage" class="alert alert-success" role="alert">
  {{confirmMessage}}
</div>

<div *ngIf="editor">
  <input type="text" placeholder="id" [(ngModel)]="filmFrom.id">
  <input type="text" placeholder="Имя" [(ngModel)]="filmFrom.name">
  <input type="text" placeholder="Почта" [(ngModel)]="filmFrom.year">
  <input type="text" placeholder="Почта" [(ngModel)]="filmFrom.length">
  <input type="text" placeholder="Почта" [(ngModel)]="filmFrom.rating">
  <input type="text" placeholder="Почта" [(ngModel)]="filmFrom.picPath">
<!--  <div *ngFor="let role of userForm.roles">-->
<!--    <div>{{role.runame}} <input type="checkbox" [checked]="role.check" (change)="onChange(role.name, role.check)"/></div>-->

<!--  </div>-->
  <button (click)="updateFilm()">Изменить</button>
  <button (click)="addFilm()">Добавить</button>
  <button (click)="breakFilm()">Отмена</button>
</div>

<div *ngFor="let film of filmService.movies">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{film.name}}, {{film.year}}</h5>
      <p class="card-text">{{film.rating}}</p>
      <a class="btn btn-primary" (click)="updateFilmForm(film.id)">Редактировать</a>
      <a class="btn btn-primary" (click)="delete(film.id)">Удалить</a>
    </div>
  </div>
</div>
