<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>
<div *ngIf="confirmMessage" class="alert alert-success" role="alert">
  {{confirmMessage}}
</div>

<table class="table mt-1 mx-5" style="width: 60%; margin: 0 auto;" *ngIf="userService.user">
<tr>
  <th>Логин</th>
  <th>Имя</th>
  <th>Почта</th>
  <th>Роли</th>
  <th></th>
</tr>
<tr>
  <td>{{userService.user.username}}</td>
  <td><input type="text" placeholder="Имя" [(ngModel)]="userForm.name"></td>
  <td><input type="text" placeholder="Почта" [(ngModel)]="userForm.email"></td>
  <td> <span *ngFor="let role of userService.user.roles"><span *ngIf="role.check">{{role.runame}} </span></span></td>
  <td><button class="btn btn-primary ml-5" (click)="updateUser()">Изменить</button></td>
</tr>
</table>


  <div class="ml-5 my-2" *ngIf="!userService.user.emailConfirmed">
    <span class="alert alert-danger" role="alert">
      Подтвердите почту
    </span>
<!--    <span></span>-->
    <button class="btn btn-primary mx-2" type="submit" (click)="verifyEmail()">Выслать ключ на почту</button>
    <input type="text" [(ngModel)]="verifyCode"/>
    <button class="btn btn-primary mx-2" type="submit" (click)="confirmCode()">Подтвердить почту</button>
  </div>
  <div class="ml-5 my-2" *ngIf="userService.user.emailConfirmed">
        <span class="alert alert-success" role="alert">
      Почта подтверждена
    </span>
  </div>

<p>
</p>





<div class="ml-5 mt-5">
  <span *ngFor="let order of orders">
  <a class="btn btn-primary m-1" role="button" aria-expanded="false" (click)="viewOrder(order.id)">
    <span>{{order.schedule.film.name}} {{order.schedule.date}}</span>
  </a>
</span>
</div>


<div class="ml-5 mt-1" *ngIf="showOrder">
  <div *ngIf="order">
    <div>Время заказа {{order.orderTime  | date:"dd MM yyyy, HH:mm"}}</div>
    <div>Фильм {{order.schedule.film.name}}</div>
    <div>Дата сеанса {{order.schedule.date  | date:"dd MM yyyy"}}</div>
    <div>Время начала <app-schedule-time [time]="order.schedule.time"></app-schedule-time> </div>
    <div>Зал {{order.schedule.hall.name}}</div>
    <div>Стоимость {{order.schedule.price}}</div>
    <div>Код {{order.key}}</div>
    <div *ngFor="let place of order.places">
      <span>Ряд {{place.row + 1}} </span>
      <span>Место {{place.place + 1}}</span>
    </div>
  </div>
</div>

<!--<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">-->
<!--  <div>текст</div>-->
<!--</a>-->
<!--<div class="collapse" id="collapseExample">-->
<!--  <div class="form-group mt-3">-->
<!--    <div>текст внутри</div>-->
<!--  </div>-->
<!--</div>-->

<!--{{dt | date:"longDate"}}-->
<!--<p></p>-->

<!--<div>-->
<!--  <input type="text" [(ngModel)]="searchString">-->
<!--</div>-->
<!--<table *ngIf="userService.users.length; else noUsers">-->



<!--<tr>-->
<!--  <th>Id</th>-->
<!--  <th>Name</th>-->
<!--  <th>Age</th>-->
<!--  <th></th>-->
<!--</tr>-->
<!--  <tr *ngFor="let user of userService.users | userFilter: searchString">-->
<!--    <td>{{user.id}} <label>-->
<!--      <input type="checkbox" [checked]="user.active" (change)="onChange(user.id)"/>-->
<!--    </label></td>-->
<!--    <td>{{user.name}}</td>-->
<!--    <td>{{user.age}}</td>-->
<!--    <td><button (click)="deleteUser(user.id)" class="btn btn-primary">Delete</button> </td>-->
<!--  </tr>-->
<!--</table>-->

<!--<ng-template #noUsers>-->
<!--  <h1>No users</h1>-->
<!--</ng-template>-->

