<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>
<div *ngIf="confirmMessage" class="alert alert-success" role="alert">
  {{confirmMessage}}
</div>
<div *ngIf="!editor">
<table *ngIf="userService.user">
<tr>
  <th>Id</th>
  <th>username</th>
  <th>name</th>
  <th>email</th>
</tr>
<td>{{userService.user.id}}</td>
<td>{{userService.user.username}}</td>
<td>{{userService.user.name}}</td>
<td>{{userService.user.email}}</td>
  <div *ngIf="!userService.user.emailConfirmed">
    <button class="btn btn-outline-success my-2 my-sm-0 mr-5 mx-1" type="submit" (click)="verifyEmail()">Выслать ключ на почту</button>
    <input type="text" [(ngModel)]="verifyCode"/>
    <button class="btn btn-outline-success my-2 my-sm-0 mr-5 mx-1" type="submit" (click)="confirmCode()">Подтвердить почту</button>
  </div>
  <div *ngIf="userService.user.emailConfirmed">
    <span>Почта подтверждена</span>
  </div>
<td *ngFor="let role of userService.user.roles"><div *ngIf="role.check">{{role.runame}}</div></td>
</table>
<button (click)="updateUserForm()">Изменить</button>
</div>
<p>
</p>
<div *ngIf="editor">
  <input type="text" placeholder="id" [(ngModel)]="userForm.id">
  <input type="text" placeholder="Имя" [(ngModel)]="userForm.name">
  <input type="text" placeholder="Почта" [(ngModel)]="userForm.email">

  <div *ngFor="let role of userForm.roles">
    <div>{{role.runame}} <input type="checkbox" [checked]="role.check" (change)="onChange(role.name, role.check)"/></div>
  </div>
  <button (click)="updateUser()">Изменить</button>
  <button (click)="breakUser()">Отмена</button>
</div>
<span *ngFor="let order of orders">
  <a class="btn btn-primary m-1" role="button" aria-expanded="false" (click)="viewOrder(order.id)">
    <span>{{order.schedule.film.name}} {{order.schedule.date}}</span>
  </a>
</span>

<div *ngIf="showOrder">
  <div *ngIf="order">
    <div>Время заказа {{order.orderTime  | date:"dd MM yyyy, HH:mm"}}</div>
    <div>Фильм {{order.schedule.film.name}}</div>
    <div>Дата сеанса {{order.schedule.date  | date:"dd MM yyyy"}}</div>
    <div>Время начала <app-schedule-time [time]="order.schedule.time"></app-schedule-time> </div>
    <div>Зал {{order.schedule.hall.name}}</div>
    <div>Стоимость {{order.schedule.price}}</div>
    <div>Код {{order.key}}</div>
    <div *ngFor="let place of order.places">
      <span>Ряд {{place.row + 1}} </span>
      <span>Место {{place.place + 1}}</span>
    </div>
  </div>
</div>

<!--<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">-->
<!--  <div>текст</div>-->
<!--</a>-->
<!--<div class="collapse" id="collapseExample">-->
<!--  <div class="form-group mt-3">-->
<!--    <div>текст внутри</div>-->
<!--  </div>-->
<!--</div>-->

<!--{{dt | date:"longDate"}}-->
<!--<p></p>-->

<!--<div>-->
<!--  <input type="text" [(ngModel)]="searchString">-->
<!--</div>-->
<!--<table *ngIf="userService.users.length; else noUsers">-->



<!--<tr>-->
<!--  <th>Id</th>-->
<!--  <th>Name</th>-->
<!--  <th>Age</th>-->
<!--  <th></th>-->
<!--</tr>-->
<!--  <tr *ngFor="let user of userService.users | userFilter: searchString">-->
<!--    <td>{{user.id}} <label>-->
<!--      <input type="checkbox" [checked]="user.active" (change)="onChange(user.id)"/>-->
<!--    </label></td>-->
<!--    <td>{{user.name}}</td>-->
<!--    <td>{{user.age}}</td>-->
<!--    <td><button (click)="deleteUser(user.id)" class="btn btn-primary">Delete</button> </td>-->
<!--  </tr>-->
<!--</table>-->

<!--<ng-template #noUsers>-->
<!--  <h1>No users</h1>-->
<!--</ng-template>-->

