<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>
<div *ngIf="confirmMessage" class="alert alert-success" role="alert">
  {{confirmMessage}}
</div>

<div *ngIf="editor">
  <input type="text" placeholder="id" [(ngModel)]="form.id">
  <input type="text" placeholder="Название" [(ngModel)]="form.name">
  <input type="text" placeholder="Число рядов" [(ngModel)]="form.row">
  <input type="text" placeholder="Число мест" [(ngModel)]="form.place">

  <button (click)="updateForm()">Изменить</button>
  <button (click)="addForm()">Добавить</button>
  <button (click)="breakForm()">Отмена</button>
</div>

<div *ngFor="let value of hallService.halls">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Зал {{value.name}}</h5>
      <p class="card-text">Рядов: {{value.row}}</p>
      <p class="card-text">Мест: {{value.place}}</p>
      <a class="btn btn-primary" (click)="openEditForm(value.id)">Редактировать</a>
      <a class="btn btn-primary" (click)="delete(value.id)">Удалить</a>
    </div>
  </div>
</div>
